<nav class="horizontal-nav">
    <ul class="nav-list">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="donations">
                <span class="bi bi-currency-pound me-1" aria-hidden="true"></span> Donations
            </NavLink>
        </li>
    </ul>
</nav>