@page "/donations"

<PageTitle>Donate - Save the cars</PageTitle>

<header>
    <h1><span class="bi bi-currency-pound me-1" aria-hidden="true"></span> Manage Donations</h1
</header>

<iframe src="/manage-donations" title="Donation Form" class="donation-frame" />